ALTER PROC [dbo].[sp_LogIn]
    @email VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM dbo.tbl_Users WHERE email = @email
    )
    BEGIN 
        SELECT 0 AS SUCCESS, 'Email does not exist.' AS MESSAGE;
        RETURN;
    END;

    SELECT 
        1 AS SUCCESS,
        'User fetched' AS MESSAGE,
        userId,
        userName,
        email,
        hashedPassword,
        createdAt
    FROM dbo.tbl_Users
    WHERE email = @email;
END;