USE [CLapiDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_SignUp]    Script Date: 3/17/2026 3:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[sp_SignUp]
	@userName VARCHAR(100),
    @email VARCHAR(100),
	@hashedPassword VARCHAR(MAX)
AS
BEGIN
	-- Check if user already exists
	IF EXISTS (
		SELECT 1
		FROM dbo.tbl_Users
		where email = @email
	)

	BEGIN
		SELECT 0 AS SUCCESS, 'Email already exists' AS MESSAGE;
		RETURN;
	END

	INSERT INTO dbo.tbl_Users (userName, email, hashedPassword)
    VALUES (@userName, @email, @hashedPassword);

    SELECT 1 AS SUCCESS, 'User created successfully' AS Message;
END;